<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixeltify</title>
</head>
<body>
    <!-- pixel image -->
    <img src="<%= img %>" alt="pixelated image">

    <!-- ONE FORM 
     
    if the user submits  the search bar, then that will be processed appropriately
    if the user clicks one of the buttons, then that will be processed appropriatetely
    -->
    <form method="post" action="/search" autocomplete="off">
      <input type="text" name="searchInput" maxlength="100">
      <input type="submit" value="search">
    </form>

    <% if (locals.albums) { %>
     <% albums.forEach(album=>{ %>
      <form method="post" action="/check">
        <input type="hidden" name="searchRes" value="<%= album.images[0].url %>">
        <input type="submit" value="<%= album.name %> by <%= album.artists[0].name %>">
      </form>
     <%}) %>
    <% } %>

    <% if (locals.error) { %>
     <p><%= error %></p>
    <% } %>

    <!-- search bar -->

    <!-- results -->

</body>
</html>